<navigation-component></navigation-component>
<div class="container">
    <selector-component [puzzleSelected]="onSelect"></selector-component>
    <div class="wrapper vertical-align" style="overflow: hidden; width:100%;">
        <grid-component *ngIf="selectedSudoku" [selectedSudoku]="selectedSudoku"></grid-component>
        <div class="col-md-2 text-center padding">
            <button class="lui-button" (click)="solve()">SOLVE</button>  
        </div>
        <grid-component *ngIf="solution" [selectedSudoku]="solution"></grid-component>
    </div>
</div>

