
<div class="wrapper">
    <div class="col-md-5">
        <div *ngIf="selectedSudoku">
            <div class="sudoku-grid">
                <div *ngFor="let row of selectedSudoku.data; let r = index;" class="sudoku-row">
                    <div *ngFor="let square of row;" class="sudoku-cell">
                        {{square === 0 ? ' ' : square}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <button class="lui-button" (click)="solveSudoku()">SOLVE</button>  
    </div>
    <div class="col-md-5">
        <div *ngIf="solution">
            <div class="sudoku-grid">
                <div *ngFor="let row of solution.data; let r = index;" class="sudoku-row" >
                    <div *ngFor="let square of row;" class="sudoku-cell" [class.empty]="isEmpty">
                            {{square === 0 ? ' ' : square}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
