/* Show thicker border on the bottom of every 3 rows */

.sudoku-grid :nth-child(3n) .sudoku-cell {
    border-bottom: 3px solid #000000;
}


/* Show thicker border on the right of every 3 columns */

.sudoku-row :nth-child(3n) {
    border-right: 3px solid #000000;
}


/* Remove the border on the last row */

.sudoku-grid :last-child .sudoku-cell {
    border-bottom: none;
}


/* Remove the border on the top row */

.sudoku-grid :first-child .sudoku-cell {
    border-top: none;
}


/* Remove the border on the last column */

.sudoku-row :last-child {
    border-right: none;
}


/* Remove the border on the first column */

.sudoku-row :first-child {
    border-left: none;
}


/* Display each row of the sudoku as row flex box */

.sudoku-grid {
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
}

.sudoku-row {
    display: flex;
    flex-direction: row;
}

.sudoku-cell {
    width: 11.11%;
    /* Add padding of half the height to ensure cells are square */
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    border: 1px solid black;
}


/* Align items vertically when not on a smaller screen */

@media (min-width: 990px) {
    .vertical-align {
        display: flex;
        align-items: center;
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    >.content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.square {
    @include aspect-ratio(1, 1);
}

.empty {
    /* Add padding of half the height to ensure cells are square */
    color: #fff;
}