
<div class="wrapper vertical-align" style="overflow: hidden; width:100%;">
    <div class="col-md-5">
        <div *ngIf="sudoku">
            <div class="sudoku-grid">
                <div *ngFor="let row of sudoku.data; let r = index;" class="sudoku-row">
                    <div *ngFor="let square of row;" class="sudoku-cell">
                        <span>{{square === 0 ? ' ' : square}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <button class="lui-button" (click)="solve()">SOLVE</button>  
    </div>
    <div class="col-md-5">
        <div *ngIf="emptySolution">
            <div class="sudoku-grid">
                <div *ngFor="let row of emptySolution.data; let r = index;" class="sudoku-row" >
                    <div *ngFor="let square of row;" class="sudoku-cell" [class.empty]="isEmpty">
                            <div>{{square === 0 ? '.' : square}}</div>
                    </div>
                </div>
            </div>
        </div>
         <div *ngIf="solution">
            <div class="sudoku-grid">
                <div *ngFor="let row of solution; let r = index;" class="sudoku-row" >
                    <div *ngFor="let square of row;" class="sudoku-cell">
                            <span>{{square === 0 ? ' ' : square}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
